<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
    <generatePublisherEvidence enabled="false" />
  </runtime>
  
  <userSettings>
    <Viewer.Properties.Settings>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>0</value>
      </setting>
    </Viewer.Properties.Settings>
  </userSettings>
  
  <log4net>
    <!--output to local log file-->
    <appender name="LogFileAppender"  type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="${LOCALAPPDATA}\Nextlabs\SkyDRM\log\Viewer\" />
      <datePattern type="log4net.Util.PatternString">
        <conversionPattern value="yyyy-MM-dd/hh-mm-ss'-Pid-'%property{pid}% &quot;Viewer.log&quot;" />
      </datePattern>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>

      <param name="RollingStyle" value="Date" />
      <encoding value="utf-8" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="30" />
      <param name="AppendToFile" value="true" />

      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date %-6level[%thread] -%type.%method:%newline%message%newline"/>-->
        <conversionPattern value="%date% Pid:[%property{pid}] Thread:[%thread] %-6level %message" />
      </layout>
    </appender>
    <!--output to console file-->
    <appender name="LogConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date Pid:[%property{pid}] Thread:[%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="LogConsoleAppender" />
    </root>
  </log4net>
</configuration>